# Prerequisites
*.d

# Object files
*.o

# Binary files
bin

# Chat log files
chatmsg.txt

# Libraries
*.lib
*.a
*.la
*.lo

# VS Code files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
